.page3 {
  ion-label {
      white-space: normal;
  }
  
  ion-list {
      margin-top: 2rem;
  }
  
  ion-card {
      margin-bottom: 2rem;
  }
  
  #done {
      margin-bottom: 2rem;
  }
  
  #map {
      animation-duration: 1s;
      animation-name: fadeIn;
  }
  
  #travelTime {
      font-size: 120%;
      margin-bottom: 3%;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
  }
}

#goButton {
    z-index: 9999;
}